<div class="comments-index-contain">
  <% @comments.each do |comment| %>
    <div style="margin-bottom:5px;">
      <%= comment.text %>
      <%= link_to 'Edit', edit_account_comment_path(@account, comment) %>
      <%= link_to 'Delete', account_comment_path(@account, comment), method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  <% end %>

  <%= link_to 'Back', account_path(@account), id: "leave-round"%>  
</div>
