<p>
  Like and comment on the latest post by the user below.
</p>

<h3><%= @round.accounts.first.website.capitalize %></h3>

<div>
  <div>Username:</div>
  <strong><%= @round.account_slice(@round.entry_number(current_user.id)).username %></strong>
</div>

<% if @round.account_slice(@round.entry_number(current_user.id)).comments.any? %>
  <div>
    <div>Suggested comment:</div>
    <strong><%= @round.account_slice(@round.entry_number(current_user.id)).comments.first.try(:text) %></strong>
  </div>
<% end %>
