<div class="round-show-content">

  <p>
    Like and comment on the latest post by the users below.
  </p>

  <div>
    <%= pluralize(@round.matches.count, "match") %><br /><br />
  </div>


  <div class="total-row">
    <% @round.matches.each_with_index do |account, i| %>
      <div class="box-left">
        <strong><%= account.username %></strong>
      </div>
      <div class="box-right">
        <% if account.comments[i] != nil %>
          <%= account.comments[i].text %>
        <% else %>
          <%= "x" %>
        <% end %>
      </div>
    <% end %>
  </div>

</div>
