<p>
  Like and comment on the latest post by the user below.
</p>

<h3><%= @round.accounts.first.website.capitalize %></h3>

<div>
  <%= current_user.accounts.last.match_amount %>
  <% @round.account_slice(current_user.id, current_user.accounts.last.match_amount).each do |account| %>
    <div>Username:</div>
    <strong><%= account.username %></strong>
    <% if account.comments.any? %>
      <div>Comment:</div>
      <strong><%= account.comments.first.try(:text) %></strong>
    <% end %>
  <% end %>
</div>

<br />
