<p>
  Like and comment on the latest post by the user below.
</p>

<h3><%= @round.accounts.first.website.capitalize %></h3>

<div>
  <h5>username:</h5>
  <%= @round.account_slice(5).username %>
</div>

<div>
  <%= @round.account_slice(5).comments.first.try(:text) %>
</div>
