<div class="round-show-content">

  <p>
    Like and comment on the latest post by the users below.
  </p>

  <div>
    <%= pluralize(@round.matches.count, "match") %><br /><br />
  </div>


  <div class="total-row">
    <% @round.matches.each do |account| %>
      <div class="box-left">
        <strong><%= account.username %></strong>
      </div>
      <div class="box-right">
        <%= account.comments.first.try(:text) if account.comments.first %>
      </div>
    <% end %>
  </div>

</div>
