<p>
  Like and comment on the latest post by the user below.
</p>

<h3><%= @round.accounts.first.try(:website).try(:capitalize) %></h3>

<div>
  <%= current_user.accounts.last.match_amount %>
  <% @round.matched_accounts(current_user.id, current_user.accounts.last.match_amount).each do |account| %>
    <div>Username:</div>
    <strong><%= account.username %></strong>
    <% if account.comments.first %>
      <div>Comment:</div>
      <strong><%= account.comments.first.try(:text) %></strong>
    <% end %>
  <% end %>
</div>
