// Place all the styles related to the Accounts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.field {
  margin: 0 0 15px 0;
}

.heading {
  font-style: italic;
}

.comment-text {
  position: relative;
  font-size: 150%;
  margin: 10px 0;
}

#username {
  font-size: 300%;
  margin: 5px 0 10px;
}

span {
  font-size: 10px;
  font-style: normal;
  vertical-align: middle;
}

.leave-link {
  margin: 30px 0 0;
}

#leave-round, #leave-round:hover{
  margin: 20px 0 0;
  text-decoration: none;
  border: 1px solid rgb(69, 194, 183);
  border-radius: 10px;
  color: rgb(69, 194, 183);
  padding: 5px 15px;
}

.enter-round, .enter-round:hover {
  text-decoration: none;
  background-color: rgb(69, 194, 183);
  border: 1px solid rgb(69, 194, 183);
  border-radius: 10px;
  color: white;
  margin-right: 5px;
  padding: 5px 15px;
}

.fa-check {
  color: rgb(69, 194, 183);
  font-size: 150%;
}

.page-wrapper {
  border: 35px solid rgb(69, 194, 183);
  padding: 10px 0 30px 0;
  width: 300px;
  margin: 0 auto;
}

.box-heading {
  border-bottom: 1px dotted gray;
}

#wait-text {
  color: rgb(69, 194, 183);
  margin-bottom: 20px;
}

table {
  margin: 0 auto;
}
