/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.content {
  height: 100%;
  width: 100%;
}

.center {
  margin: 0 auto;
}

#timer {
  font-size: 150%;
}

.alert {
  color:red;
  position: absolute;
  left: 50%;
  top: 60px;
  transform: translate(-50%, -50%);
}

.left-absolute #counter {
  position: absolute;
  top: 30px;
  left: 35px;
}

#counter > div {
  margin: 0 auto;
  text-align: right;
}

.left-absolute {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 160px;
  background-color: rgb(199, 199, 199);
  overflow: visible;
}

.main {
  position: relative;
  width: 100%;
  min-width: 690px;
  height: 100%;
  background-color: rgb(215, 215, 215);
}

.page-heading {
  margin: 20px 0;
  font-size: 1.8em;
}

input[type=submit] {
  background-color: rgb(69, 194, 183);
  border: none;
  border-radius: 10px;
  color: white;
  padding: 5px 15px;
  font-size: 1.1em;
}

input[type=text] {
  font-size: 105%;
}

select {
  font-size: 105%;
}

#error_explanation li {
  list-style-type: none;
  color: red;
}

#error_explanation ul {
  padding: 0;
}

.clipboard-btn {
 font-size: 80%;
 border: none;
 border-radius: 7px;
 color: rgb(69, 194, 183);
 padding: 3px 10px;
 margin-right: 5px;
}

.wait-text {
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -50%);
}
