/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#timer {
  font-size: 150%;
}

.alert {
  color:red;
}

#counter {
  position: absolute;
  top: 70px; left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
}

#counter > div {
  width: 70%;
  margin: 0 auto;
  text-align: right;
}

#counter-container {
 position: absolute;
 top: 0px;
 left: 0px;
 height: 100%;
 width: 150px;
 background-color: rgb(199, 199, 199);
 z-index: -10;
}

.page-heading {
  margin: 20px 0;
}

input[type=submit] {
  background-color: rgb(69, 194, 183);
  border: none;
  border-radius: 10px;
  color: white;
  padding: 5px 15px;
}

#error_explanation li {
  list-style-type: none;
  color: red;
}

#error_explanation ul {
  padding: 0;
}

.main-content {
  margin-left: 150px;
  background-color: rgb(215, 215, 215);
}

 .clipboard-btn {
   font-size: 80%;
   border: none;
   border-radius: 7px;
   color: rgb(69, 194, 183);
   padding: 3px 10px;
   margin-right: 5px;
 }
