// Place all the styles related to the rounds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .main-content {
//   position: relative;
//   height: auto;
// }

.row-container {
  height: 30px;
  margin: 0 auto 15px;
  width: 100%;
  // border-bottom: 1px dotted gray;
}

.box-left, .box-center, .box-right {
  float: left;
}

.box-left {
  width: 150px;
  text-align: center;
}

.box-center {
  // width: 50px;
}

.round-show-content {
  margin-left: 150px;
}

.round-show-content:first-of-type {
  text-align: left;
}
