<h1>Accounts</h1>

<table>
  <tr>
    <th>Website</th>
    <th>Username</th>
    <th colspan="2"></th>
  </tr>

  <% @accounts.each do |account| %>
    <tr>
      <td><%= account.website %></td>
      <td><%= account.username %></td>
      <% if account.user == current_user %>
        <td><%= link_to 'Edit', edit_account_path(account) %></td>
        <td><%= link_to 'Destroy', account_path(account),
                method: :delete,
                data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tr>
  <% end %>
</table>
