<% provide(:title, "Account") %>

<div class="main-container">
  <div class="box-heading">
    <p>Step 1 of 2</p>
  </div>

  <h3 class="page-heading">Enter Information</h3>

  <%= render 'form' %>

  <div id="form"></div>
  <%= javascript_pack_tag 'form' %>
</div>
