<div>
  <%= @account.username %>
</div>

<h2>Comments</h2>
<%= render @account.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>

<p>
  Like and comment on the latest post by the following users
</p>

usernames:
<% @account.round.account_names[0].each do |name| %>
  <div>
    <%= name %>
  </div>
<% end %>

  #[@account.id]
